@font-face {
	font-family: 'Skyscapers';
	src: url('//2ttf.com/webfont/6IF8GLA3aiM/webfont.ttf') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    font-family: 'Skyscapers';
    background-image: url(background.jpg);
    background-size: cover;
    
    

}
.btn{
  position: fixed;
  bottom: 0 ;
  left: 0;
}
.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
button{
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    position: relative;
}
.voice{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    width: 100%;
    height: 100%;
}
.ai{
    width: 450px;
    height: 450px;
}
.ai:hover{
  animation: ai .5s alternate infinite ease;
}
.right{
   background-image: url(back.jpg);
   background-size: cover;
   position: relative;
    color: black;
    width:500px;
    height: 600px;
    padding: 50px;
    font-size: 26px;
    border-radius: 15px;
    line-height: 50px;
    list-style: none;
    text-transform: capitalize;
}
/* From Uiverse.io by mobinkakei */ 
#voice-img {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
    display: none;
  }

  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  /* From Uiverse.io by Peary74 */ 
button {
    font-family: inherit;
    margin-top: 50px;
    width: 200px;
    font-size: 20px;
    background: #212121;
    color: white;
    fill: rgb(155, 153, 153);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover {
    background: #000;
  }
  
  button:hover .svg-wrapper {
    transform: scale(1.25);
    transition: 0.5s linear;
  }
  
  button:hover svg {
    transform: translateX(2.8em) scale(1.0);
    fill: #fff;
  }
  
  button:hover span {
    opacity: 0;
    transition: 0.5s linear;
  }
  
  button:active {
    transform: scale(0.95);
  }
  @media only screen and (max-width: 767px){
    body{
      width: 100%;
    }
    .ai{
        width: 300px;
        height: 350px;
        margin-left: 50px;
        margin-top: 20px;
    }
    .main{
      height: 100vh;
      width: 100%;
      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      
  }
  .left{
    width: 100%;
   
  }
  .right{
   width: 350px;
   height: 500px;
   margin-right:15px;
   font-size: 20px;
   padding: 10px 10px;
  }
  
  #voice-img {
    
    margin-top: 80PX;
  }
  }